In [1]:
import numpy as np
import pandas as pd

# Data Frames

In [ ]:
df = pd.DataFrame(np.random.randint(1,10,(6,7)))

In [ ]:
df.values

array([[7, 2, 4, 9, 6, 7, 6],
       [3, 6, 2, 9, 3, 2, 9],
       [9, 8, 1, 1, 5, 8, 2],
       [9, 9, 7, 5, 4, 2, 5],
       [6, 2, 7, 1, 9, 1, 4],
       [5, 9, 8, 2, 8, 6, 7]])

In [ ]:
df.index = [('R'+ str(i)) for i in range(1,7)]
df.columns = [('C'+ str(i)) for i in range(1,8)]

In [ ]:
df

    C1  C2  C3  C4  C5  C6  C7
R1   7   2   4   9   6   7   6
R2   3   6   2   9   3   2   9
R3   9   8   1   1   5   8   2
R4   9   9   7   5   4   2   5
R5   6   2   7   1   9   1   4
R6   5   9   8   2   8   6   7

In [ ]:
def Create_df(nRows,nCols,maxRand=10):
    DataFrame1 = pd.DataFrame(np.random.randint(0,maxRand,(nRows,nCols)))
    DataFrame1.index = [('R'+ str(i)) for i in range(1,nRows+1)]
    DataFrame1.columns = [('C'+ str(i)) for i in range(1,nCols+1)]
    return DataFrame1

In [ ]:
Create_df(3,4,2)

    C1  C2  C3  C4
R1   0   1   0   1
R2   1   1   0   0
R3   0   0   1   0

In [ ]:
df['C2']

R1    2
R2    6
R3    8
R4    9
R5    2
R6    9
Name: C2, dtype: int64

In [ ]:
df['C2']['R1']

2

# Solar System DataFrame

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], 
                     index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
df = pd.DataFrame({"Mass": mass,"Diameter":diameter})

In [ ]:
df

              Mass  Diameter  Population
Earth       5.9700     12756  8000000000
Jupiter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     49528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

## Mean Row

In [ ]:
def Create_Mean(Dataframe):
    nDataframe = Dataframe.copy()
    nDataframe.loc['Mean'] = [np.mean(nDataframe.iloc[:,i]) for i in range(len(nDataframe.columns))]
    return nDataframe

In [ ]:
Create_Mean(df)

                Mass  Diameter  Population
Earth       5.970000   12756.0  8000000000
Jupiter  1898.000000  142984.0           0
Mars        0.642000    6792.0           0
Mercury     0.330000    4879.0           0
Moon             NaN    3475.0           0
Neptune   102.000000   49528.0           0
Pluto       0.014600    2370.0           0
Saturn    568.000000  120536.0           0
Uranus     86.800000   51118.0           0
Venus       4.870000   12104.0           0
Mean      296.291844   40654.2       8e+08

In [ ]:
np.mean(df.iloc[:,2])

8000000000.0

In [ ]:
df2 = df.copy()

In [ ]:
df["Population"]["Earth"] = 8000000000

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

              Mass  Diameter  Population
Earth       5.9700   12756.0  8000000000
Jupiter  1898.0000  142984.0           0
Mars        0.6420    6792.0           0
Mercury     0.3300    4879.0           0
Moon           NaN    3475.0           0
Neptune   102.0000   49528.0           0
Pluto       0.0146    2370.0           0
Saturn    568.0000  120536.0           0
Uranus     86.8000   51118.0           0
Venus       4.8700   12104.0           0

In [ ]:
def create_mean_row(Dataframe):
    df1 = Dataframe.copy()
    df1.loc["Col_Mean"] = df1.mean()
    return df1

In [ ]:
df.drop("Col_Mean",inplace=True)

In [ ]:
create_mean_row(df)

                 Mass  Diameter  Population
Earth        5.970000   12756.0  8000000000
Jupiter   1898.000000  142984.0           0
Mars         0.642000    6792.0           0
Mercury      0.330000    4879.0           0
Moon              NaN    3475.0           0
Neptune    102.000000   49528.0           0
Pluto        0.014600    2370.0           0
Saturn     568.000000  120536.0           0
Uranus      86.800000   51118.0           0
Venus        4.870000   12104.0           0
Col_Mean   296.291844   40654.2       8e+08

# Seaborn Planets

In [ ]:
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Load Data

In [ ]:
planets = sns.load_dataset('planets')

In [ ]:
planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [ ]:
planets.iloc[530:550]

## Delete NaNs

In [ ]:
planets[planets.isna().any(axis=1)]

               method  number  orbital_period  mass  distance  year
7     Radial Velocity       1      798.500000   NaN     21.41  1996
20    Radial Velocity       5        0.736540   NaN     12.53  2011
25    Radial Velocity       1      116.688400   NaN     18.11  1996
26    Radial Velocity       1      691.900000   NaN     81.50  2012
29            Imaging       1             NaN   NaN     45.52  2005
...               ...     ...             ...   ...       ...   ...
1030          Transit       1        3.941507   NaN    172.00  2006
1031          Transit       1        2.615864   NaN    148.00  2007
1032          Transit       1        3.191524   NaN    174.00  2007
1033          Transit       1        4.125083   NaN    293.00  2008
1034          Transit       1        4.187757   NaN    260.00  2008

[537 rows x 6 columns]

In [ ]:
planets.drop(planets[planets.isna().any(axis=1)].index,inplace= True)

In [ ]:
planets.dropna(axis=0,inplace=True)

In [ ]:
planets

              method  number  orbital_period    mass  distance  year
0    Radial Velocity       1       269.30000   7.100     77.40  2006
1    Radial Velocity       1       874.77400   2.210     56.95  2008
2    Radial Velocity       1       763.00000   2.600     19.84  2011
3    Radial Velocity       1       326.03000  19.400    110.62  2007
4    Radial Velocity       1       516.22000  10.500    119.47  2009
..               ...     ...             ...     ...       ...   ...
640  Radial Velocity       1       111.70000   2.100     14.90  2009
641  Radial Velocity       1         5.05050   1.068     44.46  2013
642  Radial Velocity       1       311.28800   1.940     17.24  1999
649          Transit       1         2.70339   1.470    178.00  2013
784  Radial Velocity       3       580.00000   0.947    135.00  2012

[498 rows x 6 columns]

## Filter Data

In [ ]:
planets[
        (planets["distance"] > planets.distance.quantile(0.75)) & 
        (planets["year"] >=2010)
]

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

In [ ]:
planets

    method  number  orbital_period    mass  distance  year
0       rv       1       269.30000   7.100     77.40  2006
1       rv       1       874.77400   2.210     56.95  2008
2       rv       1       763.00000   2.600     19.84  2011
3       rv       1       326.03000  19.400    110.62  2007
4       rv       1       516.22000  10.500    119.47  2009
..     ...     ...             ...     ...       ...   ...
640     rv       1       111.70000   2.100     14.90  2009
641     rv       1         5.05050   1.068     44.46  2013
642     rv       1       311.28800   1.940     17.24  1999
649      t       1         2.70339   1.470    178.00  2013
784     rv       3       580.00000   0.947    135.00  2012

[498 rows x 6 columns]

## Shortener

In [ ]:
planets_full = sns.load_dataset('planets')

In [ ]:
def shortener(s):
    return ''.join([x[0] for x in s.split()])

In [ ]:
planets_full['Short Method'] = planets_full['method'].apply(shortener)

In [ ]:
planets_full

               method  number  orbital_period  ...  distance  year  Short Method
0     Radial Velocity       1      269.300000  ...     77.40  2006            RV
1     Radial Velocity       1      874.774000  ...     56.95  2008            RV
2     Radial Velocity       1      763.000000  ...     19.84  2011            RV
3     Radial Velocity       1      326.030000  ...    110.62  2007            RV
4     Radial Velocity       1      516.220000  ...    119.47  2009            RV
...               ...     ...             ...  ...       ...   ...           ...
1030          Transit       1        3.941507  ...    172.00  2006             T
1031          Transit       1        2.615864  ...    148.00  2007             T
1032          Transit       1        3.191524  ...    174.00  2007             T
1033          Transit       1        4.125083  ...    293.00  2008             T
1034          Transit       1        4.187757  ...    260.00  2008             T

[1035 rows x 7 columns]

## GroupBy

In [ ]:
pd.DataFrame({"Count":planets_full.groupby("method")["method"].count(),"Mean Distance":planets_full.groupby("method")['distance'].mean()})

                               Count  Mean Distance
method
Astrometry                         2      17.875000
Eclipse Timing Variations          9     315.360000
Imaging                           38      67.715937
Microlensing                      23    4144.000000
Orbital Brightness Modulation      3    1180.000000
Pulsar Timing                      5    1200.000000
Pulsation Timing Variations        1            NaN
Radial Velocity                  553      51.600208
Transit                          397     599.298080
Transit Timing Variations          4    1104.333333

In [ ]:
(planets_full[planets_full["year"] >= 2010].groupby("method")["method"].count()) / (planets_full.groupby("method")["method"].count())

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64

# Nifty

In [ ]:
nifty502018 = pd.read_csv('NIFTY50_2018.csv',index_col=0,infer_datetime_format=True,parse_dates=True)

In [ ]:
nifty502018.head()

In [ ]:
nifty502019 = pd.read_csv('NIFTY50_2019.csv',index_col=0,infer_datetime_format=True,parse_dates=True)

In [ ]:
niftynext502019 = pd.read_csv('NIFTYNext50_2019.csv',index_col=0,infer_datetime_format=True,parse_dates=True)

In [ ]:
nifty50 = pd.concat([nifty502018,nifty502019],keys=[2018,2019])

In [ ]:
nifty50

In [ ]:
nifty_2019 = pd.concat([nifty502019,niftynext502019])

In [ ]:
nifty_2019.iloc[240:250]

In [ ]:
nifty_2019 = pd.concat([nifty502019,niftynext502019],axis=1,keys=["Nifty 50","Nifty Next 50"])

In [ ]:
nifty_2019

In [ ]:
nifty_2019["Nifty 50"]["Open"]

In [ ]:
nifty_2019["Nifty 50"]["Open"].loc['2019-12-24'][0]

# Tasks

Tasks on the NIFTY datasets:

1. In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

2. In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

3. In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019

5. Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019

6. On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

7. In 2019, how many days had the day's high lower than the previous day's low in NIFTY50

8. In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)

In [2]:
nifty502018 = pd.read_csv('NIFTY50_2018.csv',index_col=0,infer_datetime_format=True,parse_dates=True)
nifty502019 = pd.read_csv('NIFTY50_2019.csv',index_col=0,infer_datetime_format=True,parse_dates=True)
niftynext502019 = pd.read_csv('NIFTYNext50_2019.csv',index_col=0,infer_datetime_format=True,parse_dates=True)

In [ ]:
nifty502019['Volatile'] = (nifty502019["High"] > (1.05 * nifty502019["Low"]))

In [ ]:
niftynext502019['Volatile'] = (niftynext502019["High"] > (1.05 * niftynext502019["Low"]))

In [ ]:
print("Nifty 50 Volatile:",np.sum(nifty502019['Volatile']),'\n',
      "Nifty 50 Non-Volatile:",np.sum(~nifty502019['Volatile']),'\n',
      "Nifty Next 50 Volatile:",np.sum(niftynext502019['Volatile']),'\n',
      "Nifty Next 50 Non-Volatile:",np.sum(~niftynext502019['Volatile']),'\n'
      )

Nifty 50 Volatile: 1
 Nifty 50 Non-Volatile: 244
 Nifty Next 50 Volatile: 1
 Nifty Next 50 Non-Volatile: 244

In [ ]:
day_of_week = pd.Series(map(lambda x: x.dayofweek,nifty502019.index),index=nifty502019.index).rename("Day of Week")
month = pd.Series(map(lambda x: x.month,nifty502019.index),index=nifty502019.index).rename("Month")

In [6]:
dow = pd.Series(nifty502019.index.dayofweek,index = nifty502019.index).rename('Day of Week')
monthname = pd.Series(nifty502019.index.month,index = nifty502019.index).rename('Month')

In [ ]:
dw = pd.concat([nifty502019,day_of_week],axis=1)
mo = pd.concat([nifty502019,month],axis=1)

In [ ]:
pd.DataFrame({"Mean" : dw.groupby("Day of Week")["Close"].mean(),
      "Median" : dw.groupby("Day of Week")["Close"].median(),
      "Std" : dw.groupby("Day of Week")["Close"].std(),
      "Var" : dw.groupby("Day of Week")["Close"].var(),
})

                     Mean     Median         Std            Var
Day of Week
0            11463.535870  11573.475  463.019749  214387.288296
1            11444.318000  11544.150  462.829541  214211.183649
2            11385.222340  11440.200  449.850387  202365.370740
3            11430.373000  11576.900  470.461726  221334.235430
4            11435.394118  11456.900  443.779665  196940.391065
6            11627.150000  11627.150         NaN            NaN

In [7]:
nifty502019.groupby(dow).Close.describe()

             count          mean         std  ...        50%        75%       max
Day of Week                                   ...
0             46.0  11463.535870  463.019749  ...  11573.475  11879.775  12262.75
1             50.0  11444.318000  462.829541  ...  11544.150  11794.125  12214.55
2             47.0  11385.222340  449.850387  ...  11440.200  11789.175  12221.65
3             50.0  11430.373000  470.461726  ...  11576.900  11843.200  12259.70
4             51.0  11435.394118  443.779665  ...  11456.900  11817.225  12271.80
6              1.0  11627.150000         NaN  ...  11627.150  11627.150  11627.15

[6 rows x 8 columns]

In [ ]:
pd.DataFrame({"Mean" : mo.groupby("Month")["Close"].mean(),
      "Median" : mo.groupby("Month")["Close"].median(),
      "Std" : mo.groupby("Month")["Close"].std(),
      "Var" : mo.groupby("Month")["Close"].var(),
})

               Mean     Median         Std           Var
Month
1      10809.463043  10821.600   92.241175   8508.434368
2      10833.840000  10819.025  119.606867  14305.802526
3      11317.242105  11354.250  223.401346  49908.161462
4      11666.452632  11665.950   65.824517   4332.867076
5      11592.022727  11683.075  279.155921  77928.028268
6      11839.023684  11841.550  115.116579  13251.826769
7      11523.110870  11555.900  260.085388  67644.409308
8      10976.500000  11007.175   97.097806   9427.983947
9      11124.289474  11003.500  310.891386  96653.453772
10     11490.205000  11523.300  217.418539  47270.821289
11     11964.132500  11940.700   84.216057   7092.344283
12     12096.880952  12086.700  134.226928  18016.868119

In [ ]:
np.mean(niftynext502019[nifty502019["Close"] > nifty502019["Open"]]["Close"] - niftynext502019[nifty502019["Close"] > nifty502019["Open"]]["Open"])

118.70188679245271

In [ ]:
np.sum(nifty502019['High'][1:].values < nifty502019['Low'][:-1].values)

13

In [ ]:
np.sum(nifty502019['Close'][::-1].values[29:] > nifty502019['Close'][::-1].rolling(window=30).mean().dropna().values)

140

In [ ]:
sum(nifty502019[::-1]["Close"] > nifty502019[::-1]["Close"].rolling(30).mean())

140

In [ ]:
(nifty502019[::-1]["Close"] > nifty502019[::-1]["Close"].rolling(30).mean()).value_counts()

True     140
False    105
Name: Close, dtype: int64

In [ ]:
(nifty502019["Close"] > nifty502019["Close"].rolling(30).mean()).value_counts()

False    160
True      85
Name: Close, dtype: int64

In [ ]:
(nifty502019['Close'][::-1][29:] > nifty502019['Close'][::-1].rolling(window=30).mean().dropna()).value_counts()

True     140
False     76
Name: Close, dtype: int64

In [ ]:
(nifty502019['Close'][29:] > nifty502019['Close'].rolling(window=30).mean().dropna()).value_counts()

False    131
True      85
Name: Close, dtype: int64

In [3]:
nifty502019.index.dayofweek

Int64Index([1, 0, 4, 3, 1, 0, 4, 3, 2, 1,
            ...
            0, 4, 3, 2, 1, 0, 4, 3, 2, 1],
           dtype='int64', name='Date', length=245)